.container{
	padding: 50px;
}

.card{
	padding-top: 10px;
	border-radius: 30px;
}

.titulo{
	font-size: 28px; 
	color: white !important; 
	margin-bottom: 0.5rem;
}

.subtitulo{
	font-size: 16px; 
	margin-bottom: 1rem;
}

.cards{
	border-radius: 50px !important; 
	font-size: 16px;
	padding: 10px;
		border: 1px solid white;
    box-shadow: 0px 5px 10px rgba(18, 131, 190, 1.0);
	
      
}

.servicos{
	font-size: 18px; 
	line-height: 1.6; 
	letter-spacing: 1px;
	padding: 15px;
	padding-top: 30px;
	color: #1283BE !important;
}

.itens{
	font-size: 16px; 
	line-height: 1.6; 
	letter-spacing: 0px;
	font-weight: 500;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
}

.contato{
	font-size: 14px; 
	line-height: 1.5; 
	letter-spacing: 1px;
}

.fonte20{
	font-size: 20px;
		padding-top: 10px;
		color: white;
}

.endereco{
	font-size: 18px;
	color: darkgrey;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-botton: 10px;
}

.botao{
 font-size: 16px;
 border-radius: 30px;
 padding: 10px;
	border: 1px solid white;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 1.0);
}

.missao{

	font-size: 25px;
	color: white;
	font-weight: bold;
	font-style: italic;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.texto-missao{
	font-size: 18px;
	color: white;
	font-style: italic;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.atribuicao{
  border-radius: 50px !important;
  border-color: lightgrey !important;
  background-color: lightgrey !important;
  color: white;
}
.foto{
    border: 1px solid white;
    box-shadow: 0px 0px 900px rgba(255, 255, 255, 1.0);
}
.card-footer{
	background-color: #1283BE !important;
	border-radius: 0 0 30px 30px !important;
	margin-bottom: 0px !important;
}

.acessar{
 font-size: 16px;
 border-radius: 30px;
 padding: 10px;
	border: 1px solid white;
    box-shadow: 0px 5px 5px rgba(50, 200, 50, 0.8);
}

.secretario-municipal{
	padding-top:25px !important;
	padding-bottom:25px !important;
	font-size: 40px !important; 
	color: white !important;
}



.titulo-servicos {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.servico-card {
    min-height: 60px;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 10px 18px;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

    text-decoration: none;
    color: #333;

    transition: all 0.2s ease;
}

.servico-card:hover {
    border-color: #aaa;
    background: #fafafa;
    color: #333;
}

.servico-icone {
    flex: 0 0 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 25px;
    color: #00a8e0;
}

.servico-texto {
    font-size: 16px;
    line-height: 1.15;
    font-weight: 400;
}


