.container{
	padding: 50px;
}

.card{
	padding-top: 10px;
	border-radius: 30px;
}

.titulo{
	font-size: 28px; 
	color: white !important; 
	margin-bottom: 0.5rem;
}

.subtitulo{
	font-size: 16px; 
	margin-bottom: 1rem;
}

.cards{
	border-radius: 50px !important; 
	font-size: 16px;
	padding: 10px;
		border: 1px solid white;
    box-shadow: 0px 5px 10px rgba(18, 131, 190, 1.0);
	
      
}

.servicos{
	font-size: 18px; 
	line-height: 1.6; 
	letter-spacing: 1px;
	padding: 15px;
	padding-top: 30px;
}

.itens{
	font-size: 16px; 
	line-height: 1.6; 
	letter-spacing: 0px;
	font-weight: 500;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-botton: 10px;
}

.contato{
	font-size: 14px; 
	line-height: 1.5; 
	letter-spacing: 1px;
}

.fonte20{
	font-size: 20px;
		padding-top: 10px;
		color: white;
}

.endereco{
	font-size: 18px;
	color: darkgrey;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-botton: 10px;
}

.botao{
 font-size: 16px;
 border-radius: 30px;
 padding: 10px;
	border: 1px solid white;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 1.0);
}

.missao{

	font-size: 25px;
	color: white;
	font-weight: bold;
	font-style: italic;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.texto-missao{
	font-size: 18px;
	color: white;
	font-style: italic;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.atribuicao{
  border-radius: 50px !important;
  border-color: lightgrey !important;
  background-color: lightgrey !important;
  color: white;
}
.foto{
    border: 1px solid white;
    box-shadow: 0px 0px 900px rgba(255, 255, 255, 1.0);
}



